<header>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Navbar</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/cur" routerLinkActive="active">Cursos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/mat" routerLinkActive="active">Materias</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/ven" routerLinkActive="active">Mod.Ventas</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/ven/cli" routerLinkActive="active">Mod.Ven.Clientes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/docen" routerLinkActive="active">Docentes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/docenlis" routerLinkActive="active">Lista Docentes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/estud" routerLinkActive="active">Gestión Estudiantes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/profe" routerLinkActive="active">Gestión Profesiones</a>
                  </li> 
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/users" routerLinkActive="active">Users</a>
                  </li> 

                </ul>
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
    </div>
</header>
<main>
    <router-outlet></router-outlet>
</main>
<footer> </footer>
 